{% include 'header.html' %}
<table class="table table-dark">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Correo</th>
        </tr>
    </thead>
    <tbody>
        {% for empleado in empleados %}
        <tr>
            <td>{{empleado.id}}</td>
            <td>
                <img width="100" src="fotodeusuario/{{empleado.foto}}" alt="foto de perfil"> <!-- esto sirve para ocultar donde tengo mis fotos. el navegador mapea esto y le da al usuario esta dire y no la real. -->
            </td>
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.correo}}</td>
            <td>
                <a class="btn btn-warning" href="/empleado/modificar/{{empleado.id}}">Editar</a>
                <a class="btn btn-danger" href="/empleado/delete/{{empleado.id}}">Borrar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'footer.html' %}