{% include 'header.html' %}
<table class="table table-dark">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Correo</th>
        </tr>
    </thead>
    <tbody>
        {% for empleado in empleados %}
        <tr>
            <td>{{empleado[0]}}</td>
            <td>
                <img width="100" src="fotodeusuario/{{empleado[3]}}" alt="foto de perfil"> <!-- esto sirve para ocultar donde tengo mis fotos. el navegador mapea esto y le da al usuario esta dire y no la real. -->
            </td>
            <td>{{empleado[1]}}</td>
            <td>{{empleado[2]}}</td>
            <td>
                <a class="btn btn-warning" href="/modify/{{empleado[0]}}">Editar</a>
                |
                <a class="btn btn-danger" href="/delete/{{empleado[0]}}">Borrar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'footer.html' %}